```<div class="container">
    <a class="btn btn-info" href="/new">+ Add Shop</a>

    <h2 class="text-center">Shops</h2>

    {{#each shops}}
        <div class="row review">
            <div class="col-sm-4">
                <img class="review-img" src="{{imgLink}}">
            </div>
            <div class="col-sm-8">
                <div class="row">
                    <div class="col-sm-6">
                        <h4>
                            <a href="/{{id}}">{{name}}</a>
                        </h4>
                        {{rating}} Stars
                    </div>
                    <div class="col-sm-6">
                        
                    </div>
                </div>
                <div class="row">
                    <div class="col review-quote">
                        {{description}}
                    </div>
                </div>
            </div>
        </div>
    {{/each}}
</div>```