<div class="container">
  <a href="/{{shop.id}}">Back</a>
  <h2>Edit {{shop.name}}</h2>
  <div class="col-8">
    <form action="/{{shop.id}}?_method=PUT" method="POST">
      <div class="form-group">
        <label for="name">Name</label>
        <input class="form-control" type="text" name="name" value={{shop.name}}>
      </div>
      <div class="form-group">
        <label for="rating">Rating</label>
        <input class="form-control" type="number" name="rating" id="rating" value={{shop.rating}}>
      </div>
      <div class="form-group">
        <label for="imgLink">Image</label>
        <input class="form-control" type="text" name="imgLink" id="imgLink" value={{shop.imgLink}}>
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <input class="form-control" type="text" name="description" value={{shop.description}}>
      </div>
      <div class="form-group">
        <label for="category">Category</label>
        <input class="form-control" type="text" name="category" value={{shop.category}}>
      </div>
      <input class="btn btn-info" type="submit" value="UPDATE">
    </form>
  </div>
</div>